 <footer class="footer mt-auto py-3 bg-light fixed-bottom bg-light">
    <div class="container-fluid d-flex flex-row justify-content-between">
      <a href="/myEvents" class="btn btn-info mx-2">My Events</a>
      <a href="/events" class="btn btn-info mx-2">All Events</a>
      <a href="/newEvent" class="btn btn-info mx-2">Create Event</a>
    </div>
  </footer>
  </body>
</html>