<%- include('./partials/header') %> <%- include('./partials/navbar') %>
<div
  class="container-fluid d-flex flex-column overflow-auto h-100 justify-content-start my-5 pb-4"
>
  <h4>Page can't find!</h4>
  <p>Sorry dear friend, it seems this page doesn't exist!</p>
  <p>Please try something else.</p>
</div>

<%- include('./partials/footer') %>
