<%- include('./partials/header') %>

<div>
  <p>Welcome, <%= currentUser.first_name %>!</p>
  <a href="/logout" class="btn btn-info">Log out</a>
  <h1>Hello world</h1>
</div>

<%- include('./partials/eventsFooter') %>
