<%- include('./partials/header') %>
<div
  class="container-fluid d-flex flex-column justify-content-center align-items-center"
>
  <div
    class="container-fluid d-flex flex-column justify-content-center align-items-center mb-5"
  >
    <h1>Join</h1>
    <h4 id="date"></h4>
  </div>
  <div
    class="container-fluid d-flex flex-column justify-content-center align-items-center mt-5"
  >
    <h2></i>CONNECT THE WORLD</h2>
  </div>
</div>

<%- include('./partials/homeFooter') %>
<script
  src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
  crossorigin="anonymous"
></script>
<script>
  const today = new Date();
  const date = document.getElementById("date");
  date.textContent =
    today.getFullYear() + "-" + (today.getMonth() + 1) + "-" + today.getDate();
</script>
