<%- include('./partials/header') %>
<div
  class="container-fluid d-flex flex-column justify-content-center align-items-center"
>
  <div
    class="container-fluid d-flex flex-column justify-content-center align-items-center"
  >
    <h1>Join</h1>
    <h4 id="date"></h4>
  </div>
  <div
    class="container-fluid d-flex flex-column justify-content-center align-items-center"
  >
    <h3>JOIN ME</h3>
    <h3>Connect THE WORLD</h3>
  </div>
</div>

<%- include('./partials/homeFooter') %>
<script>
  const today = new Date();
  const date = document.getElementById("date");
  date.textContent =
    today.getFullYear() + "-" + (today.getMonth() + 1) + "-" + today.getDate();
</script>
