<%- include('./partials/header') %> <%- include('./partials/navbar') %>

<div
  class="container-fluid d-flex col-md-8 col-lg-3 pt-md-5 flex-column overflow-auto h-100 justify-content-start my-5 pb-4"
>
  <div
    class="container-fluid justify-content-center d-flex flex-column align-items-center bd-highlight"
  >
    <h4 class="my-2">New Event</h4>
    <form action="/newEvent" method="POST" class="needs-validation" novalidate>
      <!-- Event Name  -->
      <div class="mb-3">
        <input
          type="text"
          name="event_name"
          id="event_name"
          placeholder="Event Name *"
          class="form-control"
          required
        />
      </div>
      <!-- Start Date & Time  -->
      <div class="mb-3">
        <label for="start_date&time">Start Date and Time:</label>
        <div>
          <input
            type="date"
            name="start_date"
            id="start_date"
            placeholder="Start Date"
            required
          />
          <input
            type="time"
            name="start_time"
            id="start_time"
            placeholder="Start Time"
            pattern="[0-12]{2}:[0-12]{2}"
            required
          />
        </div>
      </div>
      <!-- End Date & Time  -->
      <div class="mb-3">
        <label for="end_date&time">End Date and Time:</label>
        <div>
          <input
            type="date"
            name="end_date"
            id="end_date"
            placeholder="End Date"
            onclick="setMinDate()"
          />
          <input
            type="time"
            name="end_time"
            id="end_time"
            placeholder="End Time"
            pattern="[0-9]{2}:[0-9]{2}"
          />
        </div>
      </div>
      <!-- Event types  -->
      <div class="mb-3">
        <div
          class="container-fluid d-flex flex-row justify-content-evenly align-items-center"
        >
          <div class="eventType">
            <input
              type="radio"
              class="live"
              name="live"
              value="1"
              onclick="toggle_location()"
            />
            <label for="live">In Person</label>
          </div>
          <div class="eventType">
            <input
              type="radio"
              class="live"
              name="live"
              value="0"
              onclick="toggle_location()"
            />
            <label for="live">Online</label>
          </div>
        </div>
        <div
          class="container-fluid d-flex flex-row justify-content-evenly align-items-center"
        >
          <div class="eventType">
            <input type="radio" class="public" name="public" value="0" />
            <label for="public">Private</label>
          </div>
          <div class="eventType">
            <input type="radio" class="public" name="public" value="1" />
            <label for="public">Public</label>
          </div>
        </div>
      </div>
      <!-- External Event Link  -->
      <div class="mb-3">
        <input
          type="url"
          name="event_link"
          id="event_link"
          placeholder="External Event Link: https://example.com"
          pattern="https://.*"
          size="30"
          class="form-control"
        />
      </div>
      <!-- Location  -->
      <div class="mb-3" id="location">
        <input
          type="text"
          name="event_location"
          id="searchInput"
          class="form-control"
        />
        <input
          id="address"
          name="address"
          value=""
          type="hidden"
          placeholder=""
          class="form-control"
        />
      </div>
      <!-- Description  -->
      <div class="mb-3">
        <textarea
          class="form-control"
          id="description"
          placeholder="description"
          name="description"
          style="height: 100px"
        >
Description
      </textarea
        >
      </div>
      <div class="mb-3 d-flex flex-column align-items-center">
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </form>
  </div>
  <script
    async
    src="https://maps.googleapis.com/maps/api/js?key=<%= place_key %>&libraries=places&callback=initMap"
  ></script>
</div>
<%- include('./partials/footer') %>
<script src="./javascript/newEventFormController.js"></script>
<script src="./javascript/validateForms.js"></script>
