<%- include('./partials/header') %>

<div
  class="container-fluid justify-content-center d-flex flex-column align-items-center bd-highlight"
>
  <h4 class="mb-4">New Event</h4>
  <form action="/newEvent" method="POST" enctype="multipart/form-data">
    <!-- Event Name  -->
    <div class="mb-3">
      <input
        type="text"
        name="event_name"
        id="event_name"
        placeholder="Event Name *"
        class="form-control"
        required
      />
    </div>
    <!-- Start Date & Time  -->
    <div class="mb-3">
      <label for="start_date&time">Start Date and Time *</label>
      <div>
        <input
          type="date"
          name="start_date"
          id="start_date"
          placeholder="Start Date"
          class="pick_date"
          required
        />
        <input
          type="time"
          name="start_time"
          id="start_time"
          placeholder="Start Time"
          required
        />
      </div>
    </div>
    <!-- End Date & Time  -->
    <div class="mb-3">
      <label for="end_date&time">End Date and Time</label>
      <div>
        <input type="date" name="end_date" id="end_date" placeholder="End Date" class="pick_date"/>
        <input type="time" name="end_time" id="end_time" placeholder="End Time"/>
      </div>
    </div>
    <!-- Event types  -->
    <div class="mb-3">
      <div class="container-fluid d-flex flex-row justify-content-evenly align-items-center">
        <div class="eventType">
          <input type="radio" name="event_types" onclick="showLocation()">
          <label for="in_person">In Person</label>
        </div>
        <div class="eventType">
          <input type="radio" name="event_types" onclick="hideLocation()">
          <label for="online">Online</label>
        </div>
      </div>
      <div class="container-fluid d-flex flex-row justify-content-evenly align-items-center">
        <div class="eventType">
          <input type="radio" name="types">
          <label for="public">Public Event</label>
        </div>
        <div class="eventType">
          <input type="radio" name="types">
          <label for="private">Private Event</label>
        </div>
      </div>
    </div>
    <!-- External Event Link  -->
    <div class="mb-3" id="event_link">
      <input type="url" name="url" id="url"
       placeholder="External Event Link: https://example.com"
       pattern="https://.*" size="30"
       class="form-control"
       required>
    </div>
    <!-- Location  -->
    <div class="mb-3" id="location" style="display: none;">
      <input type="text" name="" id="searchInput" class="form-control"/>
      <input id="address" name="address" value="" type="hidden" placeholder="" class="form-control"/>
    </div>
    <!-- Description  -->
    <div class="mb-3">
      <textarea
        class="form-control"
        id="description"
        placeholder="description"
        name="description"
      >Description
      </textarea>
    </div>
    <div class="mb-3 d-flex flex-column align-items-center">
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  </form>
</div>

<script
  async
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC8S8x0yhOf9F_j12maO92LCZqq6MgxTs4&libraries=places&callback=initMap"
></script>

<script>
  // Autocomplete location
  function initMap() {
    var input = document.getElementById("searchInput");
    var autocomplete = new google.maps.places.Autocomplete(input);
    autocomplete.addListener("place_changed", function () {
      var place = autocomplete.getPlace();
      document.getElementById("address").value = JSON.stringify(
        place.address_components
      );
    });
  }

  // Date picker, set today as default date
  const inputDates = document.querySelectorAll(".pick_date");
  inputDates.forEach(inputDate => {
    inputDate.min = new Date().toISOString().split("T")[0];
    inputDate.valueAsDate =  new Date();
  })

  // Show/Hide location div
  const locationDiv = document.getElementById('location');
  const showLocation = () => {
    locationDiv.style.display = "block";
  }
  const hideLocation = () => {
    locationDiv.style.display = "none";
  }
</script>
  </body>
</html>
