<%- include('./partials/header') %>
<div
  class="container-fluid justify-content-center col-md-8 pt-md-5 d-flex flex-column align-items-center bd-highlight"
>
  <h4 class="mb-4">Create Account</h4>
  <form action="/signup" method="POST" enctype="multipart/form-data">
    <!-- First name -->
    <div class="mb-3">
      <input
        type="text"
        name="first_name"
        id="first_name"
        placeholder="First Name"
        class="form-control"
        required
      />
    </div>
    <!-- Last name -->
    <div class="mb-3">
      <input
        type="text"
        name="last_name"
        id="last_name"
        placeholder="Last Name"
        class="form-control"
        required
      />
    </div>
    <!-- Avatar  -->
    <div class="mb-3">
      <input
        type="file"
        name="avatar"
        id="avatar"
        class="form-control"
        accept="image/png, image/jpeg"
      />
    </div>
    <!-- About Me  -->
    <div class="mb-3">
      <textarea name="about_me" id="about_me" class="form-control">
About me
      </textarea>
    </div>
    <!-- Email -->
    <div class="mb-3">
      <input
        type="text"
        name="email"
        id="email"
        placeholder="Email"
        class="form-control"
        required
      />
    </div>
    <!-- Password -->
    <div class="mb-3">
      <input
        type="password"
        name="password"
        id="password"
        placeholder="Password"
        class="form-control"
        required
      />
    </div>
    <!-- Submit -->
    <div class="mb-3 d-flex flex-column align-items-center">
      <button type="submit" class="btn btn-primary form-control">
        SIGN UP
      </button>
    </div>
  </form>
</div>
