@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.2/font/bootstrap-icons.css");
@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: auto;
  background-color: rgb(190, 187, 187);
  align-content: center;
}

body {
  color: white;
  background-image: url("../imgs/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h2,
footer {
  text-align: center;
}

h5 {
  font-family: "Abril Fatface", cursive;
  font-size: medium;
}

h4 {
  font-family: "Abril Fatface", cursive;
}

p {
  font-size: small;
}

.navbar {
  height: 2.7rem;
}

.homeIcons {
  color: gray;
}

.homeIcons:hover {
  color: #ff8c32;
}

.btn:hover {
  background-color: #ff8c32;
}

form {
  width: 100%;
  padding: 5px 5px;
  padding-top: 20px;
  border: 1px solid gray;
  backdrop-filter: blur(50px);
  border-radius: 20px;
}

.eventType {
  width: 115px;
}

.container-fluid {
  position: relative;
  display: flex;
  justify-content: end;
  /* align-items: center; */
  /* flex-wrap: wrap; */
}

.container-fluid .card {
  position: relative;
  background: none;
  border: none;
  border-radius: 20px;
}

.card:hover {
  /* border-radius: 20px; */
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.container-fluid .card:hover .card-body {
  /* transform: translate(-3.5rem, -3.5rem); */
  z-index: 1;
}

.container-fluid .card:hover .card-foot {
  z-index: 2;
  transform: translate(0rem, 0.5rem);
}

.card-body {
  object-fit: cover;
  resize: both;
  z-index: 1;
  border-radius: 20px;
}

.card-foot {
  position: absolute;
  top: 0;
  left: 0;
  padding: 1.5rem;
  display: flex;
  justify-content: center;
  background-color: none;
  z-index: 1;
  align-items: flex-end;
  text-align: center;
  transition: 0.5s ease-in-out;
  display: none;
}

#commentBtn:hover {
  background-color: transparent;
}

#likeBtn:hover {
  background-color: transparent;
}

#avatar {
  color: gray;
}

#about_me {
  color: gray;
  height: 80px;
}

.modal-backdrop {
  /* bug fix - no overlay */
  display: none;
}

.modal-content {
  box-shadow: 0px 0px 00px 1500px #00000085;
}

#commentsDiv {
  display: none;
}

#showCommentsBtn {
  border: 1px solid gray;
}

#showCommentsBtn:hover {
  color: #ff8c32;
  border: 1.5px solid #ff8c32;
}

#map {
  position: relative;
  width: 100%;
  height: 334px;
  margin-bottom: 1rem;
}

.incomingEvents {
  background-color: pink;
}

img {
  border: 1px solid gray;
}
