*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: auto;
  background-color: rgb(190, 187, 187);
  align-content: center;
}

body {
  color: white;
  background-image: url("../imgs/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo_nav {
  height: 40px;
}

h2,
footer {
  text-align: center;
}

.homeBtn {
  width: 114px;
}

.btn:hover {
  background-color: #ff8c32;
}

form {
  width: 280px;
  padding: 0 5px;
  padding-top: 5px;
  border: 1px solid gray;
  backdrop-filter: blur(4px);
}

.observation {
  height: 150px;
}

.summary {
  height: 100px;
}

.cardContainer {
  padding: 0;
}

.card {
  margin: 0;
  box-shadow: 0 0 5px 0 rgba(22, 22, 26, 0.25);
  width: 19rem;
  height: 30rem;
  background: none;
  backdrop-filter: blur(4px);
  color: white;
  border: 1px solid gray;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.card img {
  height: 50%;
  width: auto;
}

.noteCardDiv {
  background: none;
}

.noteCard {
  background: none;
  backdrop-filter: blur(10px);
  color: white;
  border: 1px solid gray;
  height: 100%;
}

@media only screen and (min-width: 425px) {
  form {
    width: 380px;
    padding: 0 20px;
    padding-top: 10px;
    padding-bottom: 5px;
  }

  .cardContainer {
    width: 300px;
  }

  .noteCard {
    height: auto;
  }
}

@media only screen and (min-width: 768px) {
  form {
    width: 500px;
    padding: 0 30px;
    padding-top: 20px;
    padding-bottom: 10px;
  }

  .noteCard {
    width: 850px;
    height: auto;
  }
}
