*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: auto;
  background-color: rgb(190, 187, 187);
  align-content: center;
}

body {
  color: white;
  background-image: url("../imgs/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h2,
footer {
  text-align: center;
}

.btn:hover {
  background-color: #ff8c32;
}

form {
  width: 100%;
  padding: 5px 5px;
  padding-top: 20px;
  border: 1px solid gray;
  backdrop-filter: blur(50px);
  border-radius: 20px;
}

.eventType {
  width: 115px;
}
